*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;

}

body{

background:#0F172A;
color:white;

}

header{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 50px;

background:#111827;

}

nav a{

color:white;
margin-left:20px;
text-decoration:none;

}

.hero{

display:flex;
justify-content:center;
align-items:center;
padding:70px;

gap:50px;

}

.hero img{

width:450px;
border-radius:15px;

}

.hero h2{

font-size:40px;

margin-bottom:20px;

}

.hero p{

margin-bottom:20px;

}

button{

padding:12px 25px;

background:#2563EB;

border:none;

color:white;

cursor:pointer;

border-radius:8px;

transition:.3s;

}

button:hover{

background:#7C3AED;

}

section{

padding:60px;

}

.beneficios{

display:flex;

gap:30px;

justify-content:center;

}

.beneficios div{

background:#1E293B;

padding:30px;

border-radius:10px;

width:280px;

text-align:center;

}

input,
textarea{

display:block;

width:400px;

padding:12px;

margin:15px auto;

border:none;

border-radius:6px;

}

footer{

background:#111827;

padding:20px;

text-align:center;

margin-top:50px;

}